<div class="container">
    <div class="row">
      <h2>Usuarios</h2>
    </div>
         
                  <div class="col-md-12">
                      <div class="">
                          <label for="firstname" class="control-label">Nombre</label>
                          <input type="text"  class="form-control" id="firstname" [(ngModel)]="current_user.name" placeholder="Firstname">
                      </div>
                  </div>
                  
                      <div class="col-md-12">
                          <div class="">
                              <label for="firstname" class="control-label">Email</label>
                              <input type="text" class="form-control" id="firstname" [(ngModel)]="current_user.email" placeholder="Firstname">
                          </div>
                      

                      
                          <div class="col-md-12">
                              <div class="">
                                  <label for="firstname" class="control-label">age</label>
                                  <input type="text" class="form-control" id="firstname" [(ngModel)]="current_user.age" placeholder="Firstname">
                              </div>
                          </div>
                 
                
        
          <div class="row">
               <div class="col-xs-3">
                      <button type="submit" (click) = "addUser();" class="btn btn-default">Submit</button>
                  </div>
          </div>
  </div>